.list {
  width: 85%;
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.settings {
  height: 120px;
  width: 100%;
  background-color: #ff416c;
  overflow: hidden;
  position: relative;
}
.flightMenuContainer {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}
.text-holder {
  width: 40%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.7);
  font: 30px Tahoma, sans-serif;
  color: aliceblue;
  margin: auto;
  padding-left: 10px;
  padding-top: 5px;
}
.flightTitleText {
  padding-left: 3%;
  padding-top: 2%;
  color: rgb(230, 230, 230);
  font: 50px Montserrat;
}
.flight-bg {
  mask-image: linear-gradient(to left, rgba(0, 0, 1, 1), rgba(0, 0, 1, 0));
  opacity: 1;
  position: absolute;
  left: 200px;
  top: -160px;
  width: 100%;
  height: auto;
}
