.reservationTitleDiv {
  height: 120px;
  width: 100%;
  background-color: #ff416c;
  overflow: hidden;
  position: relative;
}
.reservationTitleText {
  padding-left: 3%;
  padding-top: 2%;
  color: rgb(230, 230, 230);
  font: 50px Montserrat;
}
.reservationSubTitleText {
  padding-left: 3.5%;
  /* padding-top: 2%; */
  color: rgb(230, 230, 230);
  font: 20px Montserrat;
}
.reservation-bg {
  mask-image: linear-gradient(to left, rgba(0, 0, 1, 0.8), rgba(0, 0, 1, 0));
  opacity: 1;
  position: absolute;
  left: 250px;
  top: -100px;
  width: 80%;
  height: 300%;
}
