.NewsPart {
  margin-top: 20px;
  width: 100%;
  min-height: 600px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  color: red;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.NewsTitle {
  margin-right: 1050px;
  padding-top: 2%;
  color: #ff416c;
  font: 50px Montserrat;
}
