.seatElement {
  width: 70%;
  height: 100%;
}
.seatElementText {
  padding-top: 10.5%;
  text-align: center;
  width: 30%;
  padding: auto;
}
#seatSelectionTitle {
  height: 120px;
  background-color: #ff416c;
}
.seat-wrap {
  overflow: hidden;
  position: relative;
}

.seat-bg {
  mask-image: linear-gradient(to left, rgba(0, 0, 1, 1), rgba(0, 0, 1, 0));
  opacity: 0.6;
  position: absolute;
  left: 200px;
  top: -300px;
  width: 100%;
  height: auto;
}
.seatTitleText {
  padding-left: 3%;
  padding-top: 1.5%;
  color: rgb(230, 230, 230);
  font: 55px Montserrat;
}
#seatButton {
  position: fixed;
  bottom: 0;
  height: 100px !important;
  width: 100% !important;
  background-color: rgba(20, 20, 20, 0.9);
  z-index: 10;
}
.flightSeatHolder {
  width: 85%;
  margin: auto;
  margin-top: 10px;
}
