.flex-Container-Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-Container-Col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  background-color: blueviolet;
  margin: 2px;
  width: 30px;
}
.place {
  width: 45%;
  min-height: 90px;
  background-color: aqua;
  margin-right: 1.25%;
  margin-left: 1.25%;
}
.airline-grp {
  width: 10%;
  min-height: 100px;
  margin-right: 10px;
}
.from-to {
  width: 35%;
  min-height: 100px;
  background-color: brown;
  margin-right: 10px;
  margin-left: 10px;
}
.prices {
  width: 50%;
  min-height: 100px;
  background-color: blueviolet;
  margin-right: 10px;
}
.airline {
  width: 100%;
  height: 50%;
  background-color: blueviolet;
}
